@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

$color: #D4D4D4; 
$bg-color: #171717;
$square: #262626;
$transparent: rgba(0, 0, 0, 0);

@mixin restart-btn {

    border: none;
    background-color: $bg-color;
    color: $color;
    padding: 20px 40px;
    border-radius: .5rem;
    font-size: 1.5rem;

    &:hover {

        background-color: $square;
        cursor: pointer;

    }

}