@import 'config'; 
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;

}

html{

    background-color: $bg-color;
    color: $color;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: grid;

}

header{

    background-color: $square;
    padding: 25px;
    height: 100px;

}

main{

    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-top: 50px;
    align-items: center;
    gap: 50px;
    height: calc(100% - 100px);

    h2{

        font-size: 3rem;

    }

    button{

        border: none;
        background-color: $bg-color;
        color: $color;
        padding: 20px 40px;
        border-radius: .5rem;
        font-size: 1.5rem;

        &:hover{

            background-color: $square;
            cursor: pointer;

        }

    }

}

.game-grid{

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    border-radius: 1.5rem;

    .game-square{

        width: 100px;
        height: 100px;
        background-color: $square;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Quicksand';
        font-size: 5rem;

        &:hover{

            cursor: pointer;
            background-color: lighten($bg-color, 2%);

        }

    }

}

dialog{

    color: $color;
    background-color: $transparent;
    border: none;
    border-radius: 1rem;
    position: fixed;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    min-width: 350px;

    .close-dialog{

        align-self: end;
        cursor: pointer;

    }

    .mark{

        font-size: 6rem;
        font-weight: 700;

    }

    .winner-msg{

        font-size: 3rem;

    }

    button{

        @include restart-btn;
        background-color: rgba(0, 0, 0, 0);

        &:hover{

            background-color: rgba(0, 0, 0, 0.3);

        }

    }


    &::backdrop{

        backdrop-filter: blur(6px);

    }


}

.closed{

    opacity: 0%;

}